---

---
<div class="header">
    <div class="title slackside">W</div>
</div>

<style>
    .header {
        display: flex;
        background: #DB1411;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        z-index: 1000;
        position: sticky;
        top: 0;
    }
    .header .title{
        width: 100%;
        font-family: 'Slackside One', cursive;
        text-align: center;
        font-size: 3rem;
        margin-top: -1rem;
        color:whitesmoke;
    }

</style>